<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="v4u_save_gst_number_in_quote" type="V4U\GST\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="v4u_checkout_layout_processor_add_gst_number_block"
                type="V4U\GST\Plugin\Checkout\Block\LayoutProcessor" sortOrder="1"/>
    </type>
</config>