<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_layout_render_element">
        <observer name="v4u_gst_number_add_to_order_view"
                  instance="V4U\GST\Observer\AddHtmlToOrderShippingView" />
    </event>
    <event name="adminhtml_sales_order_create_process_data">
        <observer name="v4u_gst_number_adminhtml_sales_order_create_process_data"
                  instance="V4U\GST\Observer\AdminhtmlSalesOrderCreateProcessData"/>
    </event>
</config>